docs/DLMS UA (2018.08.21 - ASN.1 and XML Schema)/GB8.3/XML Schema/COSEMpdu_GB83.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.dlms.com/COSEMpdu"
            targetNamespace="http://www.dlms.com/COSEMpdu"
            elementFormDefault="qualified">

   <!-- ASN.1 definitions -->
   <xsd:complexType name="NULL" final="#all" />

   <xsd:simpleType name="BitString">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="[0-1]{0,}" />
       </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="ObjectIdentifier">
       <xsd:restriction base="xsd:token">
           <xsd:pattern value="[0-2](\.[1-3]?[0-9]?(\.\d+)*)?" />
       </xsd:restriction>
   </xsd:simpleType>


   <!-- ACSE-APDU definition -->
   <xsd:element name="aCSE-APDU" type="ACSE-APDU"/>
   <xsd:complexType name="ACSE-APDU">
      <xsd:choice>
         <xsd:element name="aarq" type="AARQ-apdu"/>
         <xsd:element name="aare" type="AARE-apdu"/>
         <xsd:element name="rlrq" type="RLRQ-apdu"/>
         <xsd:element name="rlre" type="RLRE-apdu"/>
      </xsd:choice>
   </xsd:complexType>

   <!-- xDLMS-APDU definition -->
   <xsd:element name="xDLMS-APDU" type="XDLMS-APDU"/>
   <xsd:complexType name="XDLMS-APDU">
      <xsd:choice>
         <xsd:element name="initiateRequest" type="InitiateRequest"/>
         <xsd:element name="readRequest" type="ReadRequest"/>
         <xsd:element name="writeRequest" type="WriteRequest"/>
         <xsd:element name="initiateResponse" type="InitiateResponse"/>
         <xsd:element name="readResponse" type="ReadResponse"/>
         <xsd:element name="writeResponse" type="WriteResponse"/>
         <xsd:element name="confirmedServiceError" type="ConfirmedServiceError"/>
         <xsd:element name="data-notification" type="Data-Notification"/>
         <xsd:element name="unconfirmedWriteRequest" type="UnconfirmedWriteRequest"/>
         <xsd:element name="informationReportRequest" type="InformationReportRequest"/>
         <xsd:element name="glo-initiateRequest" type="xsd:hexBinary"/>
         <xsd:element name="glo-readRequest" type="xsd:hexBinary"/>
         <xsd:element name="glo-writeRequest" type="xsd:hexBinary"/>
         <xsd:element name="glo-initiateResponse" type="xsd:hexBinary"/>
         <xsd:element name="glo-readResponse" type="xsd:hexBinary"/>
         <xsd:element name="glo-writeResponse" type="xsd:hexBinary"/>
         <xsd:element name="glo-confirmedServiceError" type="xsd:hexBinary"/>
         <xsd:element name="glo-unconfirmedWriteRequest" type="xsd:hexBinary"/>
         <xsd:element name="glo-informationReportRequest" type="xsd:hexBinary"/>
         <xsd:element name="ded-initiateRequest" type="xsd:hexBinary"/>
         <xsd:element name="ded-readRequest" type="xsd:hexBinary"/>
         <xsd:element name="ded-writeRequest" type="xsd:hexBinary"/>
         <xsd:element name="ded-initiateResponse" type="xsd:hexBinary"/>
         <xsd:element name="ded-readResponse" type="xsd:hexBinary"/>
         <xsd:element name="ded-writeResponse" type="xsd:hexBinary"/>
         <xsd:element name="ded-confirmedServiceError" type="xsd:hexBinary"/>
         <xsd:element name="ded-unconfirmedWriteRequest" type="xsd:hexBinary"/>
         <xsd:element name="ded-informationReportRequest" type="xsd:hexBinary"/>
         <xsd:element name="get-request" type="Get-Request"/>
         <xsd:element name="set-request" type="Set-Request"/>
         <xsd:element name="event-notification-request" type="EventNotificationRequest"/>
         <xsd:element name="action-request" type="Action-Request"/>
         <xsd:element name="get-response" type="Get-Response"/>
         <xsd:element name="set-response" type="Set-Response"/>
         <xsd:element name="action-response" type="Action-Response"/>
         <xsd:element name="glo-get-request" type="xsd:hexBinary"/>
         <xsd:element name="glo-set-request" type="xsd:hexBinary"/>
         <xsd:element name="glo-event-notification-request" type="xsd:hexBinary"/>
         <xsd:element name="glo-action-request" type="xsd:hexBinary"/>
         <xsd:element name="glo-get-response" type="xsd:hexBinary"/>
         <xsd:element name="glo-set-response" type="xsd:hexBinary"/>
         <xsd:element name="glo-action-response" type="xsd:hexBinary"/>
         <xsd:element name="ded-get-request" type="xsd:hexBinary"/>
         <xsd:element name="ded-set-request" type="xsd:hexBinary"/>
         <xsd:element name="ded-event-notification-request" type="xsd:hexBinary"/>
         <xsd:element name="ded-actionRequest" type="xsd:hexBinary"/>
         <xsd:element name="ded-get-response" type="xsd:hexBinary"/>
         <xsd:element name="ded-set-response" type="xsd:hexBinary"/>
         <xsd:element name="ded-action-response" type="xsd:hexBinary"/>
         <xsd:element name="exception-response" type="ExceptionResponse"/>
         <xsd:element name="access-request" type="Access-Request"/>
         <xsd:element name="access-response" type="Access-Response"/>
         <xsd:element name="general-glo-ciphering" type="General-Glo-Ciphering"/>
         <xsd:element name="general-ded-ciphering" type="General-Ded-Ciphering"/>
         <xsd:element name="general-ciphering" type="General-Ciphering"/>
         <xsd:element name="general-signing" type="General-Signing"/>
         <xsd:element name="general-block-transfer" type="General-Block-Transfer"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="Application-context-name">
      <xsd:restriction base="ObjectIdentifier"/>
   </xsd:simpleType>

   <xsd:simpleType name="AP-title">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="AE-qualifier">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="AP-invocation-identifier">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="AE-invocation-identifier">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="ACSE-requirements">
      <xsd:union memberTypes="BitString">
      <xsd:simpleType>
         <xsd:list>
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="authentication"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:list>
      </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>

   <xsd:simpleType name="Mechanism-name">
      <xsd:restriction base="ObjectIdentifier"/>
   </xsd:simpleType>

   <xsd:simpleType name="Implementation-data">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>

   <xsd:simpleType name="Association-information">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="Association-result">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="accepted"/>
               <xsd:enumeration value="rejected-permanent"/>
               <xsd:enumeration value="rejected-transient"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:integer"/>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>

   <xsd:simpleType name="Release-request-reason">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="normal"/>
               <xsd:enumeration value="urgent"/>
               <xsd:enumeration value="user-defined"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:integer"/>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>

   <xsd:simpleType name="Release-response-reason">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="normal"/>
               <xsd:enumeration value="not-finished"/>
               <xsd:enumeration value="user-defined"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:integer"/>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>

   <xsd:simpleType name="Integer8">
      <xsd:restriction base="xsd:byte"/>
   </xsd:simpleType>

   <xsd:simpleType name="Integer16">
      <xsd:restriction base="xsd:short"/>
   </xsd:simpleType>

   <xsd:simpleType name="Integer32">
      <xsd:restriction base="xsd:int"/>
   </xsd:simpleType>

   <xsd:simpleType name="Integer64">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:simpleType name="Unsigned8">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>

   <xsd:simpleType name="Unsigned16">
      <xsd:restriction base="xsd:unsignedShort"/>
   </xsd:simpleType>

   <xsd:simpleType name="Unsigned32">
      <xsd:restriction base="xsd:unsignedInt"/>
   </xsd:simpleType>

   <xsd:simpleType name="Unsigned64">
      <xsd:restriction base="xsd:unsignedLong"/>
   </xsd:simpleType>

   <xsd:simpleType name="Conformance">
      <xsd:union memberTypes="BitString">
      <xsd:simpleType>
         <xsd:list>
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="reserved-zero"/>
                  <xsd:enumeration value="general-protection"/>
                  <xsd:enumeration value="general-block-transfer"/>
                  <xsd:enumeration value="read"/>
                  <xsd:enumeration value="write"/>
                  <xsd:enumeration value="unconfirmed-write"/>
                  <xsd:enumeration value="reserved-six"/>
                  <xsd:enumeration value="reserved-seven"/>
                  <xsd:enumeration value="attribute0-supported-with-set"/>
                  <xsd:enumeration value="priority-mgmt-supported"/>
                  <xsd:enumeration value="attribute0-supported-with-get"/>
                  <xsd:enumeration value="block-transfer-with-get-or-read"/>
                  <xsd:enumeration value="block-transfer-with-set-or-write"/>
                  <xsd:enumeration value="block-transfer-with-action"/>
                  <xsd:enumeration value="multiple-references"/>
                  <xsd:enumeration value="information-report"/>
                  <xsd:enumeration value="data-notification"/>
                  <xsd:enumeration value="access"/>
                  <xsd:enumeration value="parameterized-access"/>
                  <xsd:enumeration value="get"/>
                  <xsd:enumeration value="set"/>
                  <xsd:enumeration value="selective-access"/>
                  <xsd:enumeration value="event-notification"/>
                  <xsd:enumeration value="action"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:list>
      </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>

   <xsd:simpleType name="ObjectName">
      <xsd:restriction base="Integer16"/>
   </xsd:simpleType>

   <xsd:simpleType name="Data-Access-Result">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="success"/>
         <xsd:enumeration value="hardware-fault"/>
         <xsd:enumeration value="temporary-failure"/>
         <xsd:enumeration value="read-write-denied"/>
         <xsd:enumeration value="object-undefined"/>
         <xsd:enumeration value="object-class-inconsistent"/>
         <xsd:enumeration value="object-unavailable"/>
         <xsd:enumeration value="type-unmatched"/>
         <xsd:enumeration value="scope-of-access-violated"/>
         <xsd:enumeration value="data-block-unavailable"/>
         <xsd:enumeration value="long-get-aborted"/>
         <xsd:enumeration value="no-long-get-in-progress"/>
         <xsd:enumeration value="long-set-aborted"/>
         <xsd:enumeration value="no-long-set-in-progress"/>
         <xsd:enumeration value="data-block-number-invalid"/>
         <xsd:enumeration value="other-reason"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Action-Result">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="success"/>
         <xsd:enumeration value="hardware-fault"/>
         <xsd:enumeration value="temporary-failure"/>
         <xsd:enumeration value="read-write-denied"/>
         <xsd:enumeration value="object-undefined"/>
         <xsd:enumeration value="object-class-inconsistent"/>
         <xsd:enumeration value="object-unavailable"/>
         <xsd:enumeration value="type-unmatched"/>
         <xsd:enumeration value="scope-of-access-violated"/>
         <xsd:enumeration value="data-block-unavailable"/>
         <xsd:enumeration value="long-action-aborted"/>
         <xsd:enumeration value="no-long-action-in-progress"/>
         <xsd:enumeration value="other-reason"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Invoke-Id-And-Priority">
      <xsd:restriction base="Unsigned8"/>
   </xsd:simpleType>

   <xsd:simpleType name="Long-Invoke-Id-And-Priority">
      <xsd:restriction base="Unsigned32"/>
   </xsd:simpleType>

   <xsd:simpleType name="Cosem-Class-Id">
      <xsd:restriction base="Unsigned16"/>
   </xsd:simpleType>

   <xsd:simpleType name="Cosem-Object-Instance-Id">
      <xsd:restriction base="xsd:hexBinary">
         <xsd:length value="6"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Cosem-Object-Attribute-Id">
      <xsd:restriction base="Integer8"/>
   </xsd:simpleType>

   <xsd:simpleType name="Cosem-Object-Method-Id">
      <xsd:restriction base="Integer8"/>
   </xsd:simpleType>

   <xsd:simpleType name="Key-Id">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="global-unicast-encryption-key"/>
         <xsd:enumeration value="global-broadcast-encryption-key"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Kek-Id">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="master-key"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Block-Control">
      <xsd:restriction base="Unsigned8"/>
   </xsd:simpleType>

   <xsd:complexType name="Authentication-value">
      <xsd:choice>
         <xsd:element name="charstring" type="xsd:string"/>
         <xsd:element name="bitstring" type="BitString"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AARQ-apdu">
      <xsd:sequence>
         <xsd:element name="protocol-version" minOccurs="0">
            <xsd:simpleType>
               <xsd:union memberTypes="BitString">
               <xsd:simpleType>
                  <xsd:list>
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:enumeration value="version1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:list>
               </xsd:simpleType>
               </xsd:union>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="application-context-name" type="Application-context-name"/>
         <xsd:element name="called-AP-title" minOccurs="0" type="AP-title"/>
         <xsd:element name="called-AE-qualifier" minOccurs="0" type="AE-qualifier"/>
         <xsd:element name="called-AP-invocation-id" minOccurs="0" type="AP-invocation-identifier"/>
         <xsd:element name="called-AE-invocation-id" minOccurs="0" type="AE-invocation-identifier"/>
         <xsd:element name="calling-AP-title" minOccurs="0" type="AP-title"/>
         <xsd:element name="calling-AE-qualifier" minOccurs="0" type="AE-qualifier"/>
         <xsd:element name="calling-AP-invocation-id" minOccurs="0" type="AP-invocation-identifier"/>
         <xsd:element name="calling-AE-invocation-id" minOccurs="0" type="AE-invocation-identifier"/>
         <xsd:element name="sender-acse-requirements" minOccurs="0" type="ACSE-requirements"/>
         <xsd:element name="mechanism-name" minOccurs="0" type="Mechanism-name"/>
         <xsd:element name="calling-authentication-value" minOccurs="0" type="Authentication-value"/>
         <xsd:element name="implementation-information" minOccurs="0" type="Implementation-data"/>
         <xsd:element name="user-information" minOccurs="0" type="Association-information"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Associate-source-diagnostic">
      <xsd:choice>
         <xsd:element name="acse-service-user">
            <xsd:simpleType>
               <xsd:union>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:enumeration value="null"/>
                        <xsd:enumeration value="no-reason-given"/>
                        <xsd:enumeration value="application-context-name-not-supported"/>
                        <xsd:enumeration value="calling-AP-title-not-recognized"/>
                        <xsd:enumeration value="calling-AP-invocation-identifier-not-recognized"/>
                        <xsd:enumeration value="calling-AE-qualifier-not-recognized"/>
                        <xsd:enumeration value="calling-AE-invocation-identifier-not-recognized"/>
                        <xsd:enumeration value="called-AP-title-not-recognized"/>
                        <xsd:enumeration value="called-AP-invocation-identifier-not-recognized"/>
                        <xsd:enumeration value="called-AE-qualifier-not-recognized"/>
                        <xsd:enumeration value="called-AE-invocation-identifier-not-recognized"/>
                        <xsd:enumeration value="authentication-mechanism-name-not-recognised"/>
                        <xsd:enumeration value="authentication-mechanism-name-required"/>
                        <xsd:enumeration value="authentication-failure"/>
                        <xsd:enumeration value="authentication-required"/>
                     </xsd:restriction>
                  </xsd:simpleType>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:integer"/>
                  </xsd:simpleType>
               </xsd:union>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="acse-service-provider">
            <xsd:simpleType>
               <xsd:union>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:enumeration value="null"/>
                        <xsd:enumeration value="no-reason-given"/>
                        <xsd:enumeration value="no-common-acse-version"/>
                     </xsd:restriction>
                  </xsd:simpleType>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:integer"/>
                  </xsd:simpleType>
               </xsd:union>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="AARE-apdu">
      <xsd:sequence>
         <xsd:element name="protocol-version" minOccurs="0">
            <xsd:simpleType>
               <xsd:union memberTypes="BitString">
               <xsd:simpleType>
                  <xsd:list>
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:enumeration value="version1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:list>
               </xsd:simpleType>
               </xsd:union>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="application-context-name" type="Application-context-name"/>
         <xsd:element name="result" type="Association-result"/>
         <xsd:element name="result-source-diagnostic" type="Associate-source-diagnostic"/>
         <xsd:element name="responding-AP-title" minOccurs="0" type="AP-title"/>
         <xsd:element name="responding-AE-qualifier" minOccurs="0" type="AE-qualifier"/>
         <xsd:element name="responding-AP-invocation-id" minOccurs="0" type="AP-invocation-identifier"/>
         <xsd:element name="responding-AE-invocation-id" minOccurs="0" type="AE-invocation-identifier"/>
         <xsd:element name="responder-acse-requirements" minOccurs="0" type="ACSE-requirements"/>
         <xsd:element name="mechanism-name" minOccurs="0" type="Mechanism-name"/>
         <xsd:element name="responding-authentication-value" minOccurs="0" type="Authentication-value"/>
         <xsd:element name="implementation-information" minOccurs="0" type="Implementation-data"/>
         <xsd:element name="user-information" minOccurs="0" type="Association-information"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RLRQ-apdu">
      <xsd:sequence>
         <xsd:element name="reason" minOccurs="0" type="Release-request-reason"/>
         <xsd:element name="user-information" minOccurs="0" type="Association-information"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RLRE-apdu">
      <xsd:sequence>
         <xsd:element name="reason" minOccurs="0" type="Release-response-reason"/>
         <xsd:element name="user-information" minOccurs="0" type="Association-information"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="InitiateRequest">
      <xsd:sequence>
         <xsd:element name="dedicated-key" minOccurs="0" type="xsd:hexBinary"/>
         <xsd:element name="response-allowed" default="true" type="xsd:boolean"/>
         <xsd:element name="proposed-quality-of-service" minOccurs="0" type="Integer8"/>
         <xsd:element name="proposed-dlms-version-number" type="Unsigned8"/>
         <xsd:element name="proposed-conformance" type="Conformance"/>
         <xsd:element name="client-max-receive-pdu-size" type="Unsigned16"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TypeDescription">
      <xsd:choice>
         <xsd:element name="null-data" type="NULL"/>
         <xsd:element name="array">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="number-of-elements" type="Unsigned16"/>
                  <xsd:element name="type-description" type="TypeDescription"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="structure">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="TypeDescription" type="TypeDescription"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="boolean" type="NULL"/>
         <xsd:element name="bit-string" type="NULL"/>
         <xsd:element name="double-long" type="NULL"/>
         <xsd:element name="double-long-unsigned" type="NULL"/>
         <xsd:element name="octet-string" type="NULL"/>
         <xsd:element name="visible-string" type="NULL"/>
         <xsd:element name="utf8-string" type="NULL"/>
         <xsd:element name="bcd" type="NULL"/>
         <xsd:element name="integer" type="NULL"/>
         <xsd:element name="long" type="NULL"/>
         <xsd:element name="unsigned" type="NULL"/>
         <xsd:element name="long-unsigned" type="NULL"/>
         <xsd:element name="long64" type="NULL"/>
         <xsd:element name="long64-unsigned" type="NULL"/>
         <xsd:element name="enum" type="NULL"/>
         <xsd:element name="float32" type="NULL"/>
         <xsd:element name="float64" type="NULL"/>
         <xsd:element name="date-time" type="NULL"/>
         <xsd:element name="date" type="NULL"/>
         <xsd:element name="time" type="NULL"/>
         <xsd:element name="dont-care" type="NULL"/>
      </xsd:choice>
   </xsd:complexType>

    <xsd:complexType name="SequenceOfData">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="null-data" type="NULL"/>
            <xsd:element name="array" type="SequenceOfData"/>
            <xsd:element name="structure" type="SequenceOfData"/>
            <xsd:element name="boolean" type="xsd:boolean"/>
            <xsd:element name="bit-string" type="BitString"/>
            <xsd:element name="double-long" type="Integer32"/>
            <xsd:element name="double-long-unsigned" type="Unsigned32"/>
            <xsd:element name="octet-string" type="xsd:hexBinary"/>
            <xsd:element name="visible-string" type="xsd:string"/>
            <xsd:element name="utf8-string" type="xsd:string"/>
            <xsd:element name="bcd" type="Integer8"/>
            <xsd:element name="integer" type="Integer8"/>
            <xsd:element name="long" type="Integer16"/>
            <xsd:element name="unsigned" type="Unsigned8"/>
            <xsd:element name="long-unsigned" type="Unsigned16"/>
            <xsd:element name="compact-array">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contents-description" type="TypeDescription"/>
                        <xsd:element name="array-contents" type="xsd:hexBinary"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="long64" type="Integer64"/>
            <xsd:element name="long64-unsigned" type="Unsigned64"/>
            <xsd:element name="enum" type="Unsigned8"/>
            <xsd:element name="float32" type="xsd:float"/>
            <xsd:element name="float64" type="xsd:double"/>
            <xsd:element name="date-time">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:length value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="date">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:length value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="time">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:hexBinary">
                        <xsd:length value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="dont-care" type="NULL"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="Data">
      <xsd:choice>
         <xsd:element name="null-data" type="NULL"/>
         <xsd:element name="array" type="SequenceOfData"/>
         <xsd:element name="structure" type="SequenceOfData"/>
         <xsd:element name="boolean" type="xsd:boolean"/>
         <xsd:element name="bit-string" type="BitString"/>
         <xsd:element name="double-long" type="Integer32"/>
         <xsd:element name="double-long-unsigned" type="Unsigned32"/>
         <xsd:element name="octet-string" type="xsd:hexBinary"/>
         <xsd:element name="visible-string" type="xsd:string"/>
         <xsd:element name="utf8-string" type="xsd:string"/>
         <xsd:element name="bcd" type="Integer8"/>
         <xsd:element name="integer" type="Integer8"/>
         <xsd:element name="long" type="Integer16"/>
         <xsd:element name="unsigned" type="Unsigned8"/>
         <xsd:element name="long-unsigned" type="Unsigned16"/>
         <xsd:element name="compact-array">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="contents-description" type="TypeDescription"/>
                  <xsd:element name="array-contents" type="xsd:hexBinary"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="long64" type="Integer64"/>
         <xsd:element name="long64-unsigned" type="Unsigned64"/>
         <xsd:element name="enum" type="Unsigned8"/>
         <xsd:element name="float32" type="xsd:float"/>
         <xsd:element name="float64" type="xsd:double"/>
         <xsd:element name="date-time">
            <xsd:simpleType>
               <xsd:restriction base="xsd:hexBinary">
                  <xsd:length value="12"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="date">
            <xsd:simpleType>
               <xsd:restriction base="xsd:hexBinary">
                  <xsd:length value="5"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="time">
            <xsd:simpleType>
               <xsd:restriction base="xsd:hexBinary">
                  <xsd:length value="4"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="dont-care" type="NULL"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Parameterized-Access">
      <xsd:sequence>
         <xsd:element name="variable-name" type="ObjectName"/>
         <xsd:element name="selector" type="Unsigned8"/>
         <xsd:element name="parameter" type="Data"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Block-Number-Access">
      <xsd:sequence>
         <xsd:element name="block-number" type="Unsigned16"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Read-Data-Block-Access">
      <xsd:sequence>
         <xsd:element name="last-block" type="xsd:boolean"/>
         <xsd:element name="block-number" type="Unsigned16"/>
         <xsd:element name="raw-data" type="xsd:hexBinary"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Write-Data-Block-Access">
      <xsd:sequence>
         <xsd:element name="last-block" type="xsd:boolean"/>
         <xsd:element name="block-number" type="Unsigned16"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Variable-Access-Specification">
      <xsd:choice>
         <xsd:element name="variable-name" type="ObjectName"/>
         <xsd:element name="parameterized-access" type="Parameterized-Access"/>
         <xsd:element name="block-number-access" type="Block-Number-Access"/>
         <xsd:element name="read-data-block-access" type="Read-Data-Block-Access"/>
         <xsd:element name="write-data-block-access" type="Write-Data-Block-Access"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ReadRequest">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="Variable-Access-Specification" type="Variable-Access-Specification"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="WriteRequest">
      <xsd:sequence>
         <xsd:element name="variable-access-specification">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Variable-Access-Specification" type="Variable-Access-Specification"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="list-of-data">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Data" type="Data"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="InitiateResponse">
      <xsd:sequence>
         <xsd:element name="negotiated-quality-of-service" minOccurs="0" type="Integer8"/>
         <xsd:element name="negotiated-dlms-version-number" type="Unsigned8"/>
         <xsd:element name="negotiated-conformance" type="Conformance"/>
         <xsd:element name="server-max-receive-pdu-size" type="Unsigned16"/>
         <xsd:element name="vaa-name" type="ObjectName"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Data-Block-Result">
      <xsd:sequence>
         <xsd:element name="last-block" type="xsd:boolean"/>
         <xsd:element name="block-number" type="Unsigned16"/>
         <xsd:element name="raw-data" type="xsd:hexBinary"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ReadResponse">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CHOICE">
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="data" type="Data"/>
                  <xsd:element name="data-access-error" type="Data-Access-Result"/>
                  <xsd:element name="data-block-result" type="Data-Block-Result"/>
                  <xsd:element name="block-number" type="Unsigned16"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="WriteResponse">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CHOICE">
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="success" type="NULL"/>
                  <xsd:element name="data-access-error" type="Data-Access-Result"/>
                  <xsd:element name="block-number" type="Unsigned16"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ServiceError">
      <xsd:choice>
         <xsd:element name="application-reference">
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="other"/>
                  <xsd:enumeration value="time-elapsed"/>
                  <xsd:enumeration value="application-unreachable"/>
                  <xsd:enumeration value="application-reference-invalid"/>
                  <xsd:enumeration value="application-context-unsupported"/>
                  <xsd:enumeration value="provider-communication-error"/>
                  <xsd:enumeration value="deciphering-error"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="hardware-resource">
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="other"/>
                  <xsd:enumeration value="memory-unavailable"/>
                  <xsd:enumeration value="processor-resource-unavailable"/>
                  <xsd:enumeration value="mass-storage-unavailable"/>
                  <xsd:enumeration value="other-resource-unavailable"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="vde-state-error">
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="other"/>
                  <xsd:enumeration value="no-dlms-context"/>
                  <xsd:enumeration value="loading-data-set"/>
                  <xsd:enumeration value="status-nochange"/>
                  <xsd:enumeration value="status-inoperable"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="service">
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="other"/>
                  <xsd:enumeration value="pdu-size"/>
                  <xsd:enumeration value="service-unsupported"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="definition">
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="other"/>
                  <xsd:enumeration value="object-undefined"/>
                  <xsd:enumeration value="object-class-inconsistent"/>
                  <xsd:enumeration value="object-attribute-inconsistent"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="access">
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="other"/>
                  <xsd:enumeration value="scope-of-access-violated"/>
                  <xsd:enumeration value="object-access-violated"/>
                  <xsd:enumeration value="hardware-fault"/>
                  <xsd:enumeration value="object-unavailable"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="initiate">
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="other"/>
                  <xsd:enumeration value="dlms-version-too-low"/>
                  <xsd:enumeration value="incompatible-conformance"/>
                  <xsd:enumeration value="pdu-size-too-short"/>
                  <xsd:enumeration value="refused-by-the-VDE-Handler"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="load-data-set">
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="other"/>
                  <xsd:enumeration value="primitive-out-of-sequence"/>
                  <xsd:enumeration value="not-loadable"/>
                  <xsd:enumeration value="dataset-size-too-large"/>
                  <xsd:enumeration value="not-awaited-segment"/>
                  <xsd:enumeration value="interpretation-failure"/>
                  <xsd:enumeration value="storage-failure"/>
                  <xsd:enumeration value="data-set-not-ready"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="task">
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="other"/>
                  <xsd:enumeration value="no-remote-control"/>
                  <xsd:enumeration value="ti-stopped"/>
                  <xsd:enumeration value="ti-running"/>
                  <xsd:enumeration value="ti-unusable"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ConfirmedServiceError">
      <xsd:choice>
         <xsd:element name="initiateError" type="ServiceError"/>
         <xsd:element name="getStatus" type="ServiceError"/>
         <xsd:element name="getNameList" type="ServiceError"/>
         <xsd:element name="getVariableAttribute" type="ServiceError"/>
         <xsd:element name="read" type="ServiceError"/>
         <xsd:element name="write" type="ServiceError"/>
         <xsd:element name="getDataSetAttribute" type="ServiceError"/>
         <xsd:element name="getTIAttribute" type="ServiceError"/>
         <xsd:element name="changeScope" type="ServiceError"/>
         <xsd:element name="start" type="ServiceError"/>
         <xsd:element name="stop" type="ServiceError"/>
         <xsd:element name="resume" type="ServiceError"/>
         <xsd:element name="makeUsable" type="ServiceError"/>
         <xsd:element name="initiateLoad" type="ServiceError"/>
         <xsd:element name="loadSegment" type="ServiceError"/>
         <xsd:element name="terminateLoad" type="ServiceError"/>
         <xsd:element name="initiateUpLoad" type="ServiceError"/>
         <xsd:element name="upLoadSegment" type="ServiceError"/>
         <xsd:element name="terminateUpLoad" type="ServiceError"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Notification-Body">
      <xsd:sequence>
         <xsd:element name="data-value" type="Data"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Data-Notification">
      <xsd:sequence>
         <xsd:element name="long-invoke-id-and-priority" type="Long-Invoke-Id-And-Priority"/>
         <xsd:element name="date-time" type="xsd:hexBinary"/>
         <xsd:element name="notification-body" type="Notification-Body"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="UnconfirmedWriteRequest">
      <xsd:sequence>
         <xsd:element name="variable-access-specification">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Variable-Access-Specification" type="Variable-Access-Specification"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="list-of-data">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Data" type="Data"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="InformationReportRequest">
      <xsd:sequence>
         <xsd:element name="current-time" minOccurs="0" type="xsd:dateTime"/>
         <xsd:element name="variable-access-specification">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Variable-Access-Specification" type="Variable-Access-Specification"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="list-of-data">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Data" type="Data"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Cosem-Attribute-Descriptor">
      <xsd:sequence>
         <xsd:element name="class-id" type="Cosem-Class-Id"/>
         <xsd:element name="instance-id" type="Cosem-Object-Instance-Id"/>
         <xsd:element name="attribute-id" type="Cosem-Object-Attribute-Id"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Selective-Access-Descriptor">
      <xsd:sequence>
         <xsd:element name="access-selector" type="Unsigned8"/>
         <xsd:element name="access-parameters" type="Data"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Get-Request-Normal">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="cosem-attribute-descriptor" type="Cosem-Attribute-Descriptor"/>
         <xsd:element name="access-selection" minOccurs="0" type="Selective-Access-Descriptor"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Get-Request-Next">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="block-number" type="Unsigned32"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Cosem-Attribute-Descriptor-With-Selection">
      <xsd:sequence>
         <xsd:element name="cosem-attribute-descriptor" type="Cosem-Attribute-Descriptor"/>
         <xsd:element name="access-selection" minOccurs="0" type="Selective-Access-Descriptor"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Get-Request-With-List">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="attribute-descriptor-list">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Cosem-Attribute-Descriptor-With-Selection" type="Cosem-Attribute-Descriptor-With-Selection"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Get-Request">
      <xsd:choice>
         <xsd:element name="get-request-normal" type="Get-Request-Normal"/>
         <xsd:element name="get-request-next" type="Get-Request-Next"/>
         <xsd:element name="get-request-with-list" type="Get-Request-With-List"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Set-Request-Normal">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="cosem-attribute-descriptor" type="Cosem-Attribute-Descriptor"/>
         <xsd:element name="access-selection" minOccurs="0" type="Selective-Access-Descriptor"/>
         <xsd:element name="value" type="Data"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DataBlock-SA">
      <xsd:sequence>
         <xsd:element name="last-block" type="xsd:boolean"/>
         <xsd:element name="block-number" type="Unsigned32"/>
         <xsd:element name="raw-data" type="xsd:hexBinary"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Set-Request-With-First-Datablock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="cosem-attribute-descriptor" type="Cosem-Attribute-Descriptor"/>
         <xsd:element name="access-selection" minOccurs="0" type="Selective-Access-Descriptor"/>
         <xsd:element name="datablock" type="DataBlock-SA"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Set-Request-With-Datablock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="datablock" type="DataBlock-SA"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Set-Request-With-List">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="attribute-descriptor-list">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Cosem-Attribute-Descriptor-With-Selection" type="Cosem-Attribute-Descriptor-With-Selection"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="value-list">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Data" type="Data"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Set-Request-With-List-And-First-Datablock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="attribute-descriptor-list">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Cosem-Attribute-Descriptor-With-Selection" type="Cosem-Attribute-Descriptor-With-Selection"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="datablock" type="DataBlock-SA"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Set-Request">
      <xsd:choice>
         <xsd:element name="set-request-normal" type="Set-Request-Normal"/>
         <xsd:element name="set-request-with-first-datablock" type="Set-Request-With-First-Datablock"/>
         <xsd:element name="set-request-with-datablock" type="Set-Request-With-Datablock"/>
         <xsd:element name="set-request-with-list" type="Set-Request-With-List"/>
         <xsd:element name="set-request-with-list-and-first-datablock" type="Set-Request-With-List-And-First-Datablock"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="EventNotificationRequest">
      <xsd:sequence>
         <xsd:element name="time" minOccurs="0" type="xsd:hexBinary"/>
         <xsd:element name="cosem-attribute-descriptor" type="Cosem-Attribute-Descriptor"/>
         <xsd:element name="attribute-value" type="Data"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Cosem-Method-Descriptor">
      <xsd:sequence>
         <xsd:element name="class-id" type="Cosem-Class-Id"/>
         <xsd:element name="instance-id" type="Cosem-Object-Instance-Id"/>
         <xsd:element name="method-id" type="Cosem-Object-Method-Id"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Request-Normal">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="cosem-method-descriptor" type="Cosem-Method-Descriptor"/>
         <xsd:element name="method-invocation-parameters" minOccurs="0" type="Data"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Request-Next-Pblock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="block-number" type="Unsigned32"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Request-With-List">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="cosem-method-descriptor-list">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Cosem-Method-Descriptor" type="Cosem-Method-Descriptor"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="method-invocation-parameters">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Data" type="Data"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Request-With-First-Pblock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="cosem-method-descriptor" type="Cosem-Method-Descriptor"/>
         <xsd:element name="pblock" type="DataBlock-SA"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Request-With-List-And-First-Pblock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="cosem-method-descriptor-list">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Cosem-Method-Descriptor" type="Cosem-Method-Descriptor"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="pblock" type="DataBlock-SA"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Request-With-Pblock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="pblock" type="DataBlock-SA"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Request">
      <xsd:choice>
         <xsd:element name="action-request-normal" type="Action-Request-Normal"/>
         <xsd:element name="action-request-next-pblock" type="Action-Request-Next-Pblock"/>
         <xsd:element name="action-request-with-list" type="Action-Request-With-List"/>
         <xsd:element name="action-request-with-first-pblock" type="Action-Request-With-First-Pblock"/>
         <xsd:element name="action-request-with-list-and-first-pblock" type="Action-Request-With-List-And-First-Pblock"/>
         <xsd:element name="action-request-with-pblock" type="Action-Request-With-Pblock"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Get-Data-Result">
      <xsd:choice>
         <xsd:element name="data" type="Data"/>
         <xsd:element name="data-access-result" type="Data-Access-Result"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Get-Response-Normal">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="result" type="Get-Data-Result"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DataBlock-G">
      <xsd:sequence>
         <xsd:element name="last-block" type="xsd:boolean"/>
         <xsd:element name="block-number" type="Unsigned32"/>
         <xsd:element name="result">
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="raw-data" type="xsd:hexBinary"/>
                  <xsd:element name="data-access-result" type="Data-Access-Result"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Get-Response-With-Datablock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="result" type="DataBlock-G"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Get-Response-With-List">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="result">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Get-Data-Result" type="Get-Data-Result"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Get-Response">
      <xsd:choice>
         <xsd:element name="get-response-normal" type="Get-Response-Normal"/>
         <xsd:element name="get-response-with-datablock" type="Get-Response-With-Datablock"/>
         <xsd:element name="get-response-with-list" type="Get-Response-With-List"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Set-Response-Normal">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="result" type="Data-Access-Result"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Set-Response-Datablock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="block-number" type="Unsigned32"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Set-Response-Last-Datablock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="result" type="Data-Access-Result"/>
         <xsd:element name="block-number" type="Unsigned32"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Set-Response-Last-Datablock-With-List">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="result">
            <xsd:simpleType>
               <xsd:list itemType="Data-Access-Result"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="block-number" type="Unsigned32"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Set-Response-With-List">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="result">
            <xsd:simpleType>
               <xsd:list itemType="Data-Access-Result"/>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Set-Response">
      <xsd:choice>
         <xsd:element name="set-response-normal" type="Set-Response-Normal"/>
         <xsd:element name="set-response-datablock" type="Set-Response-Datablock"/>
         <xsd:element name="set-response-last-datablock" type="Set-Response-Last-Datablock"/>
         <xsd:element name="set-response-last-datablock-with-list" type="Set-Response-Last-Datablock-With-List"/>
         <xsd:element name="set-response-with-list" type="Set-Response-With-List"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Action-Response-With-Optional-Data">
      <xsd:sequence>
         <xsd:element name="result" type="Action-Result"/>
         <xsd:element name="return-parameters" minOccurs="0" type="Get-Data-Result"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Response-Normal">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="single-response" type="Action-Response-With-Optional-Data"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Response-With-Pblock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="pblock" type="DataBlock-SA"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Response-With-List">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="list-of-responses">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="Action-Response-With-Optional-Data" type="Action-Response-With-Optional-Data"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Response-Next-Pblock">
      <xsd:sequence>
         <xsd:element name="invoke-id-and-priority" type="Invoke-Id-And-Priority"/>
         <xsd:element name="block-number" type="Unsigned32"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Action-Response">
      <xsd:choice>
         <xsd:element name="action-response-normal" type="Action-Response-Normal"/>
         <xsd:element name="action-response-with-pblock" type="Action-Response-With-Pblock"/>
         <xsd:element name="action-response-with-list" type="Action-Response-With-List"/>
         <xsd:element name="action-response-next-pblock" type="Action-Response-Next-Pblock"/>
      </xsd:choice>
   </xsd:complexType>

    <xsd:complexType name="ExceptionResponse">
        <xsd:sequence>
            <xsd:element name="state-error">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                        <xsd:enumeration value="service-not-allowed"/>
                        <xsd:enumeration value="service-unknown"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="service-error">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="operation-not-possible" type="NULL"/>
                        <xsd:element name="service-not-supported" type="NULL"/>
                        <xsd:element name="other-reason" type="NULL"/>
                        <xsd:element name="pdu-too-long" type="NULL"/>
                        <xsd:element name="deciphering-error" type="NULL"/>
                        <xsd:element name="invocation-counter-error" type="Unsigned32"/>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Access-Request-Get">
      <xsd:sequence>
         <xsd:element name="cosem-attribute-descriptor" type="Cosem-Attribute-Descriptor"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Request-Set">
      <xsd:sequence>
         <xsd:element name="cosem-attribute-descriptor" type="Cosem-Attribute-Descriptor"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Request-Action">
      <xsd:sequence>
         <xsd:element name="cosem-method-descriptor" type="Cosem-Method-Descriptor"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Request-Get-With-Selection">
      <xsd:sequence>
         <xsd:element name="cosem-attribute-descriptor" type="Cosem-Attribute-Descriptor"/>
         <xsd:element name="access-selection" type="Selective-Access-Descriptor"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Request-Set-With-Selection">
      <xsd:sequence>
         <xsd:element name="cosem-attribute-descriptor" type="Cosem-Attribute-Descriptor"/>
         <xsd:element name="access-selection" type="Selective-Access-Descriptor"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Request-Specification">
      <xsd:choice>
         <xsd:element name="access-request-get" type="Access-Request-Get"/>
         <xsd:element name="access-request-set" type="Access-Request-Set"/>
         <xsd:element name="access-request-action" type="Access-Request-Action"/>
         <xsd:element name="access-request-get-with-selection" type="Access-Request-Get-With-Selection"/>
         <xsd:element name="access-request-set-with-selection" type="Access-Request-Set-With-Selection"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="List-Of-Access-Request-Specification">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="Access-Request-Specification" type="Access-Request-Specification"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="List-Of-Data">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="Data" type="Data"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Request-Body">
      <xsd:sequence>
         <xsd:element name="access-request-specification" type="List-Of-Access-Request-Specification"/>
         <xsd:element name="access-request-list-of-data" type="List-Of-Data"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Request">
      <xsd:sequence>
         <xsd:element name="long-invoke-id-and-priority" type="Long-Invoke-Id-And-Priority"/>
         <xsd:element name="date-time" type="xsd:hexBinary"/>
         <xsd:element name="access-request-body" type="Access-Request-Body"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Response-Get">
      <xsd:sequence>
         <xsd:element name="result" type="Data-Access-Result"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Response-Set">
      <xsd:sequence>
         <xsd:element name="result" type="Data-Access-Result"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Response-Action">
      <xsd:sequence>
         <xsd:element name="result" type="Action-Result"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Response-Specification">
      <xsd:choice>
         <xsd:element name="access-response-get" type="Access-Response-Get"/>
         <xsd:element name="access-response-set" type="Access-Response-Set"/>
         <xsd:element name="access-response-action" type="Access-Response-Action"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="List-Of-Access-Response-Specification">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="Access-Response-Specification" type="Access-Response-Specification"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Response-Body">
      <xsd:sequence>
         <xsd:element name="access-request-specification" minOccurs="0" type="List-Of-Access-Request-Specification"/>
         <xsd:element name="access-response-list-of-data" type="List-Of-Data"/>
         <xsd:element name="access-response-specification" type="List-Of-Access-Response-Specification"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Access-Response">
      <xsd:sequence>
         <xsd:element name="long-invoke-id-and-priority" type="Long-Invoke-Id-And-Priority"/>
         <xsd:element name="date-time" type="xsd:hexBinary"/>
         <xsd:element name="access-response-body" type="Access-Response-Body"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="General-Glo-Ciphering">
      <xsd:sequence>
         <xsd:element name="system-title" type="xsd:hexBinary"/>
         <xsd:element name="ciphered-content" type="xsd:hexBinary"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="General-Ded-Ciphering">
      <xsd:sequence>
         <xsd:element name="system-title" type="xsd:hexBinary"/>
         <xsd:element name="ciphered-content" type="xsd:hexBinary"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Identified-Key">
      <xsd:sequence>
         <xsd:element name="key-id" type="Key-Id"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Wrapped-Key">
      <xsd:sequence>
         <xsd:element name="kek-id" type="Kek-Id"/>
         <xsd:element name="key-ciphered-data" type="xsd:hexBinary"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Agreed-Key">
      <xsd:sequence>
         <xsd:element name="key-parameters" type="xsd:hexBinary"/>
         <xsd:element name="key-ciphered-data" type="xsd:hexBinary"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Key-Info">
      <xsd:choice>
         <xsd:element name="identified-key" type="Identified-Key"/>
         <xsd:element name="wrapped-key" type="Wrapped-Key"/>
         <xsd:element name="agreed-key" type="Agreed-Key"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="General-Ciphering">
      <xsd:sequence>
         <xsd:element name="transaction-id" type="xsd:hexBinary"/>
         <xsd:element name="originator-system-title" type="xsd:hexBinary"/>
         <xsd:element name="recipient-system-title" type="xsd:hexBinary"/>
         <xsd:element name="date-time" type="xsd:hexBinary"/>
         <xsd:element name="other-information" type="xsd:hexBinary"/>
         <xsd:element name="key-info" minOccurs="0" type="Key-Info"/>
         <xsd:element name="ciphered-content" type="xsd:hexBinary"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="General-Signing">
      <xsd:sequence>
         <xsd:element name="transaction-id" type="xsd:hexBinary"/>
         <xsd:element name="originator-system-title" type="xsd:hexBinary"/>
         <xsd:element name="recipient-system-title" type="xsd:hexBinary"/>
         <xsd:element name="date-time" type="xsd:hexBinary"/>
         <xsd:element name="other-information" type="xsd:hexBinary"/>
         <xsd:element name="content" type="xsd:hexBinary"/>
         <xsd:element name="signature" type="xsd:hexBinary"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="General-Block-Transfer">
      <xsd:sequence>
         <xsd:element name="block-control" type="Block-Control"/>
         <xsd:element name="block-number" type="Unsigned16"/>
         <xsd:element name="block-number-ack" type="Unsigned16"/>
         <xsd:element name="block-data" type="xsd:hexBinary"/>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>